# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Go
*.exe
*.out

# Sistemas
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Arquivos sensíveis
.env
